/.vs/
/node_modules/.bin/ansi-html.cmd
/client-side/mrv-app/node_modules

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/client-side/mrv-app/node_modules/
/LR.MRV.Web/wwwroot/
#Idea files
/client-side/mrv-app/.idea/
/LR.MRV.Web/wwwroot/
/client-side/mrv-app/dist/
/client-side/mrv-app/tests/screenshots/
/client-side/mrv-app/.tmp
/.idea
/tools/Cake/
/tools/Cake.CoreCLR
/tools/
/client-side/mrv-app/coverage
